.header1 { grid-area: header1; }
.header2 { grid-area: header2; }
.header3 { grid-area: header3; }
.header4 { grid-area: header4; }
.borrowers { grid-area: borrowers;}

.dashboard {
    font-family: 'Rubik', sans-serif;
    position: fixed;
    margin: 2.5% 17.5% 0 17.5%;
    padding-top: 5%;
    height: 90%;
    width: 80%;
    background-color: white;
    box-shadow: 0 3px 16px rgb(0 0 0 / 0.2);
    overflow-y: scroll;
    display: grid;
    grid-template-areas: 
        'header1 header2 header3 header4'
        'borrowers borrowers borrowers borrowers';
}

.dashboard > div {
    border: 1px solid red
}

